<title>Auth Demo</title>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/bootstrap@3.4.0/dist/css/bootstrap.min.css" />
<script src="https://cdn.jsdelivr.net/npm/jquery"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/bootstrap@3.4.0/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
